<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="restaurant">
      <h2 data-cy="restaurantDetailsHeading"><span jhiTranslate="deletethisApp.restaurant.detail.title">Restaurant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ restaurant.id }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.restaurant.name">Name</span></dt>
        <dd>
          <span>{{ restaurant.name }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.restaurant.address">Address</span></dt>
        <dd>
          <span>{{ restaurant.address }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.restaurant.phone">Phone</span></dt>
        <dd>
          <span>{{ restaurant.phone }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.restaurant.email">Email</span></dt>
        <dd>
          <span>{{ restaurant.email }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.restaurant.description">Description</span></dt>
        <dd>
          <span>{{ restaurant.description }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.restaurant.language">Language</span></dt>
        <dd>
          <span jhiTranslate="{{ 'deletethisApp.Language.' + restaurant.language }}">{{ restaurant.language }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.restaurant.activated">Activated</span></dt>
        <dd>
          <span>{{ restaurant.activated }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/restaurant', restaurant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
