<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="commande">
      <h2 data-cy="commandeDetailsHeading"><span jhiTranslate="deletethisApp.commande.detail.title">Commande</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="deletethisApp.commande.id">Id</span></dt>
        <dd>
          <span>{{ commande.id }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.commande.deliveryAddress">Delivery Address</span></dt>
        <dd>
          <span>{{ commande.deliveryAddress }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.commande.deliveryLatitude">Delivery Latitude</span></dt>
        <dd>
          <span>{{ commande.deliveryLatitude }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.commande.deliveryLongitude">Delivery Longitude</span></dt>
        <dd>
          <span>{{ commande.deliveryLongitude }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.commande.deliveryDistance">Delivery Distance</span></dt>
        <dd>
          <span>{{ commande.deliveryDistance }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.commande.deliveryFees">Delivery Fees</span></dt>
        <dd>
          <span>{{ commande.deliveryFees }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.commande.status">Status</span></dt>
        <dd>
          <span>{{ commande.status }}</span>
        </dd>
        <dt><span jhiTranslate="deletethisApp.commande.coursier">Coursier</span></dt>
        <dd>
          <div *ngIf="commande.coursier">
            <a [routerLink]="['/coursier', commande.coursier.id, 'view']">{{ commande.coursier.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="deletethisApp.commande.client">Client</span></dt>
        <dd>
          <div *ngIf="commande.client">
            <a [routerLink]="['/client', commande.client.id, 'view']">{{ commande.client.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="deletethisApp.commande.restaurant">Restaurant</span></dt>
        <dd>
          <div *ngIf="commande.restaurant">
            <a [routerLink]="['/restaurant', commande.restaurant.id, 'view']">{{ commande.restaurant.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="deletethisApp.commande.produits">Produits</span></dt>
        <dd>
          <span *ngFor="let produits of commande.produits; let last = last">
            <a [routerLink]="['/produit', produits.id, 'view']">{{ produits.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/commande', commande.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
