<div>
  <h2 id="page-heading" data-cy="ProduitHeading">
    <span jhiTranslate="deletethisApp.produit.home.title">Produits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="deletethisApp.produit.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-produit"
        [routerLink]="['/produit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="deletethisApp.produit.home.createLabel"> Create a new Produit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="produits?.length === 0">
    <span jhiTranslate="deletethisApp.produit.home.notFound">No Produits found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="produits && produits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="deletethisApp.produit.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="deletethisApp.produit.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="deletethisApp.produit.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span jhiTranslate="deletethisApp.produit.price">Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="photo">
            <div class="d-flex">
              <span jhiTranslate="deletethisApp.produit.photo">Photo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="restaurant.id">
            <div class="d-flex">
              <span jhiTranslate="deletethisApp.produit.restaurant">Restaurant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let produit of produits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/produit', produit.id, 'view']">{{ produit.id }}</a>
          </td>
          <td>{{ produit.name }}</td>
          <td>{{ produit.description }}</td>
          <td>{{ produit.price }}</td>
          <td>
            <a *ngIf="produit.photo" (click)="openFile(produit.photo, produit.photoContentType)">
              <img [src]="'data:' + produit.photoContentType + ';base64,' + produit.photo" style="max-height: 30px" alt="produit image" />
            </a>
            <span *ngIf="produit.photo">{{ produit.photoContentType }}, {{ byteSize(produit.photo) }}</span>
          </td>
          <td>
            <div *ngIf="produit.restaurant">
              <a [routerLink]="['/restaurant', produit.restaurant.id, 'view']">{{ produit.restaurant.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/produit', produit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/produit', produit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(produit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
